.modal-content {
    overflow: hidden;
    transition: height 0.8s ease, opacity 0.3s ease;
    height: 0;
    opacity: 0;
  }
  
  .modal-content.open {
    height: var(--height);
    opacity: 1;
  }
  
  .modal-content.close {
    height: 0;
    opacity: 0;
  }
  