
.modal-content {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-open {
  opacity: 1;
  transform: translateY(0);
}

.modal-close {
  opacity: 0;
  transform: translateY(-20px);
}

.btn-modal{
  cursor: pointer;
}
