.App {
  text-align: center;
  background-image:url('../public/fondo-menu-wild.jpg') ;
  margin: 0%;
  height: 100%;
}

@media(width <= 450px){
  MorningBoosters{
      max-width: 400px;
      display: flex;
      flex-direction: column;
  }

  img{
    max-width: 400px;
  }

}

